@import "../../../sass/variables";

.button {
  position: relative;
  border-radius: 40px;
  padding: 12px 24px;
  width: 100%;
  background-color: $color_main;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $color_dark;
  }

  &:active {
    background-color: $color_grey;
  }
}

.button__text {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height:36px;
  color: $color_white;
}

.button-loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button-loading::after {
  content: '';
  position: absolute;
  width: 21px;
  height: 21px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid $color_white transparent $color_white $color_white;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.disabled {
  background-color: $color_disabled;
}


