@import "../../../sass/variables";

.title{
  max-width: 753px;
  margin-bottom: 32px;
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: $color_dark;
}