@import "../../../sass/variables";

.percent-wrap {
  display: flex;
  position: absolute;
  right: 7px;
  top: -7px;
}

.input-percent {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: $color_grey;
  background-color: #EBEBEC;;
  border-radius: 16px;
  padding: 15px 17px;
  width: 69px;
  position: relative;

}

.percent-elem {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: $color_grey;
  position: absolute;
  top: 10px;
  right: 12px;
}

