@import "../../../sass/variables";

.subtitle{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: $color_grey;
  margin-bottom: 24px;
}